@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: 'Lora', serif !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}
